.NavBar{
    width : 100%;
    height: 8vh;
    background-color : #314152;
    display : inline-flex;
    justify-content: space-between;
    align-items: center;
    color : white;
}
.NavBar .Logo {
color : white;
letter-spacing: 4px;
font-size: 12px;
margin-left: 8vw;
cursor: pointer
}
.NavBar .routes {
width : fit-content ;
padding : 0  2vw;
display: flex;
justify-content: space-between;
margin-right: 2vw;
}
.routes {
    height: 100%;
}
.routes label {
    cursor: pointer;
    margin :0px 1vw;
    width : fit-content;
    padding: 2vh 1vw;
    height : 100%;
    border-radius: 10px;
}
.routes  :hover{
    background : #253341;
}
