.srWrapper{
    position :absolute ;
    width : 50vw;
    height : fit-content;
    background :#d6d5d5;
    top: 110vh;
    min-height: 50vh;
    left: 25vw;
    border-radius: 12px;
       animation-name: submitReviewStart;
    animation-duration: 1.5s;
}
.reviewWrapper {
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;

}
.srWrapper h3 {
    color :#314152;
    margin : 3vh 0;
}
.srWrapper textarea {
    margin: 2vh 0 3vh 0;
    width: 25vw;
    height: 20vh;
}
.srWrapper button {
    border-radius: 12px;
    border: none;
     background-color: #314152;
     color :white;
     padding : 4px 6px;
     margin-top:2px;
     cursor: pointer;
}

@keyframes submitReviewStart {
    from {left:100vw}
    to {left: 25vw;}
  }